@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Faculty+Glyphic&family=Poppins:wght@200;300;400;500;600&display=swap');

body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color:  rgb(233, 200, 200);
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before::after
{
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

.section
{
    background-color: rgb(233, 200, 200);
    min-height: 100vh;
    display: block;
    position: relative;
    padding: 0px 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
    left: 200px;
    width: calc(100% - 200px); 
}

.section.active
{
    opacity: 1;
    transform: translateY(0);
}

.hidden
{
    display: none !important;
}

.main-content
{
    padding-left: 270px;
}

.padd-15{
    padding-left: 15px;
    padding-left: 15px;
}

.container
{
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    
}


.section .container
{
    padding-top: 140px;
    padding-bottom: 70px;
    padding-left: -70;
}


.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    margin-left: -40px;
}

.section-title h2
{
    font-size: 60px;
    color: rgb(255, 244, 228);
    font-weight: 700;
    position: relative;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: brown;
    position: absolute;
    top: 100%;
    left:0;
}

.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: brown;
    position: absolute;
    top: 100%;
    left:0;
    margin-top: 8px;
}


.row{
    display: flex;
    flex-wrap: nowrap;
    margin-left: -75px;
    margin-right: 15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    background-color: brown;
    border-radius: 30px;
    display: inline-block;
    border: none;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.btn:hover
{
    transform: scale(1.05);
}

/* SideBar*/

.left
{
    width: 270px;
    background-color: rgb(51, 21, 40);
    position: fixed;
    left: 0;
    height: 100%;
    border-right: 1px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 30px;
    z-index: 10;
}


/* Logo*/

.left .logo
{
    position: absolute;
    top: 100px;
    font-size: 30px;
    text-transform: capitalize;
    border-left: 3px solid wheat;
}

.left .logo a
{
    font-weight: 20;
    padding: 15px 20px;
    font-size: 30px;
    color: whitesmoke;
    letter-spacing: 5px;
    font-family: 'faculty glyphic';
}
.left .logo span
{
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    color: brown;
    font-weight: bold;
}

.left .nav
{
    margin-top: 50px;
}

.left .nav li
{
    margin-bottom: 20px;
    display: block;

}


.left .nav li a
{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid rgb(224, 208, 208);
    color: rgb(213, 193, 231);
    padding: 5px 15px;
    
}

.left .nav li a.active
{
    color:blueviolet;
    
}

/* home part*/

.home
{
    min-height: 100vh;
    display: flex;
    color: black;
}

.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}


.home-info::before
{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-top: 10px solid brown;
    border-left: 10px solid brown;
    left: -70px;
    top: -100px;
}


h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span
{
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    font-weight: 700;
    color: rgb(218, 111, 61);
}

h3.my-occupation
{
    font-size: 25px;
    margin: 20px 0;
}

.typing
{
    color: brown;
}

.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: black;
}


.home .home-img
{
    flex: 0 0 35%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after
{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-bottom: 10px solid brown;
    border-right: 10px solid brown;
    right: 15px;
    bottom: -15px;
}


.home .home-img img
{
    margin: auto;
    height: 400px;
}


/*Projects*/

.project {
    margin-top: 100px;
    flex: 1; 
    max-width: 32%; 
    box-sizing: border-box; 
}


.project-img {
    width: 100%;
    height: 200px; 
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}

.project h2
{
    font-family: 'Clicker Script';
    font-size: 50px;
    font-weight: 700;
    color:brown;
}

.project a{
    margin-top: 20px;
}



/*Certifications*/



#certifications h2
{
    margin-left: 100px;
    margin-top: 60px;
    padding-top: 20px;
}

.certifications .container:before
{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-top: 10px solid brown;
    border-left: 10px solid brown;
    left: -60px;
    top: 140px;
    
}


.certifications .container::after
{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-bottom: 10px solid brown;
    border-right: 10px solid brown;
    right: 180px;
    bottom: 200px;
}

.certifications .container .row2
{
    margin-left: -200px;
    display: flex;
    justify-content: space-evenly; 
}

.certificate-img {
    width: 100%;
    height: 200px; 
}

.certificate-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}


/*Contacts*/

.contact .container .row
{
    margin-left: auto;
    gap: 300px;
}

.contact .contact-info p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid brown;
}

.contact .contact-img img
{ 
    margin: auto;
}



.social-links {
    margin-top: 30px;
    text-align: left;
}

.social-icon {
    font-size: 30px;
    margin-right: 15px;
    color: #000;  
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;  
}


